body {
    background-color: #282828;
    color: #ffffff;
}
nav {
    box-sizing: border-box;
    width: 20%;
    height: 100vh;
    background-color: #240090;
    display: inline-block;

}
nav  a {
    color: #ffffff;;
    text-decoration: none;
    display: block;
    margin: 50px;
    padding: 2%;
   /*  height: 40px;  */
   /*  line-height: 40px;  */
    width: 150px; 
    border: #240090 solid 3px;
    /* border-radius: 50%; */
      background-color: #ffffff;
    background: url('../../xxsArrow.png') no-repeat;
  
    text-align: center;
}
p {
    margin: 3%;
    padding: 2%;
    display: inline-block;
    height: 100vh;
    width: 50%;
    vertical-align: top;
     

}